:root {
--primary-default: #0C38F7;--primary-default-dark: #02019a;--secondary-default: #777777;--heading-text-color: #021647;--body-text-color: #777777;--secondary-text-color : #B7B7B7;--grey100: #eff4fd;--grey200:#ddd;--grey-light:#f2f2f2;--dashboard-bg:#EFF2FF;--border-color-default: #A2AFB9;--white:#fff;--border-radius-0: 0px;--ocean-color:#176CFF;--classic-color:#212121;--forest-color:#17705C;--energetic-color:#EE6043;--clean-color:#673657;--safari-color:#D8AE5F;--redcolor:red;--border-radius-default:3px;--font-family-default:'Lato', sans-serif;--default-font-size: 16px;--secondary-font-size:14px;

 --white:#fff;
--border-radius-0: 0px;
--ocean-color:#176CFF;
--classic-color:#212121;
--forest-color:#17705C;
--energetic-color:#EE6043;
--clean-color:#673657;
--safari-color:#D8AE5F;
--redcolor:red;
--border-radius-default:3px;
--font-family-default:'Lato', sans-serif;
--default-font-size: 16px;
--secondary-font-size:14px;
--font-weight300 :300;
--font-weight400 :400;
--font-weight500 :500;
--font-weight600 :600;
--font-weight700 :700;
--font-weight800 :800;
}