<div [ngClass]="{ 'sidebar open': true, 'close-sidebar': showSideBar }">
  <div class="mobile-sidebar">
    <div class="logo-details d-flex align-items-center justify-content-center">
      <div class="logo-icon-container">
        <img src="assets/images/logo.png" class="img-size" />
        <img src="assets/images/low-code-text.png" class="logo_name" />
      </div>
    </div>
  




<ul class="nav-links">


  
  <li>
    <a routerLink="home">
      <div class="link_name sidebar-icon">Home</div>
    </a>
    
  </li>


</ul>


  </div>
</div>